@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color:#42c1e8;
}

.home {
    width: 100%;
    height: 100vh;
    background: url(https://cdn.pixabay.com/photo/2021/11/30/21/25/bitcoin-6836272_640.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    padding: 50px 8% 0;
}

.home-contant {
    max-width: 630px;
}

.home-contant h1 {
    position: relative;
    font-size: 45px;
    line-height: 1.2;
}

.home-contant h1:nth-child(3) {
    background: linear-gradient(#59ffff, #1952ab);
    -webkit-background-clip: text;
    color: transparent;
}

.home-contant p {
    position: relative;
    font-size: 16px;
    margin: 25px 0 30px;
}

.home-contant .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
}

.btn {
    padding: 10px 28px;
    background: #42c1e8;
    border: 2px solid #42c1e8;
    border-radius: 6px;
    font-size: 16px;
    color: #01003f;
    letter-spacing: 1px;
    font-weight: 600;

}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: #42c1e8;
    transition: .5s;
}

.btn-box .btn:nth-child(2):hover {
    background: #42c1e8;
    color: #01003f;
}

.btn sign-up {
    position: relative;
    border: none;
}

.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #01003f;
    animation: show-right 1s ease-out forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.bg {
    animation: fade-in 1s ease-out forwards;
    animation-delay: 3.2s;
}
footer {
    text-align: center;
    padding-top:50px;
}

/* KEYFRAME ANIMATIONS */
@keyframes show-right {
    100% {
        width: 0;
    }
}

@keyframes fade-in {
    100% {
        opacity: 0;
    }
}

@media (max-width: 600px) {
        .header {
            font-size: 0.8em;
        }

        nav a {
            display: block;
            margin: 10px 0;
        }
        .navbar a {
            font-size: 10px;
            color: #fff;
            font-weight: 500;
            margin: 0 10px;
            transition: .3s;
        }

}





